{% extends 'base.html.twig' %}

{% block title %}Hello ChampionshipController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <table class="admin__table">
        <tr>
            <th>name</th>
            <th>point</th>
            <th></th>
        </tr>
        {% for point in pilotPoint %}
            <tr>
                <td>{{ point.name }}</td>
                <td>{{ point.point }}</td>
{#                <td><a href="{{ path('admin_race_update', {'id':race.id}) }}">update</a></td>#}
{#                <td><a href="{{ path('admin_race_delete', {'id':race.id}) }}">delete</a></td>#}
{#                <td><a href="{{ path('admin_racestat_create', {'race_id':race.id}) }}">stat</a></td>#}
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
